# ═══════════════════════════════════════════════════════════════
#  Acoustic Radar — Dependencies
# ═══════════════════════════════════════════════════════════════

# ── Етап 1: Генерація датасету (PC) ──
librosa>=0.10.0
soundfile>=0.12.0
numpy>=1.24.0
tqdm>=4.65.0
scipy>=1.10.0

# ── Етап 2: Навчання моделі (PC) ──
torch>=2.0.0
torchaudio>=2.0.0

# ── Етап 3: Real-time інференс (Raspberry Pi) ──
sounddevice>=0.4.6
onnxruntime>=1.15.0
pyserial>=3.5
pygame-ce>=2.3.0
pyusb>=1.2.1
